# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build and distribution directories
dist/
build/
out/
.next/
.nuxt/
bin/
obj/
*.gemini/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sync

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Flutter/Dart build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/ephemeral/
android/app/src/main/res/values/strings.xml
*.lock
*.ipr
*.iws

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
